body,
html,
#root {
  margin: 0;
  height: 100dvh;
  box-sizing: border-box;
}

.App {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #e3e6e9;
  overflow: auto;
  box-sizing: border-box;

  .Page {
    padding: 100px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;

    .with-border {
      border: 1px solid #0004;
      border-radius: 4px;
      box-shadow: 0 3px 6px 0 #0002;
    }

    textarea {
      width: 500px;
      height: 100px;
      padding: 10px;
      font-size: 16px;
      margin-bottom: 20px;
      box-sizing: border-box;
    }

    button {
      padding: 10px 20px;
      width: 500px;
      font-size: 16px;
      cursor: pointer;

      &::after {
        content: '';
        width: 100%;
        height: 100%;
        box-shadow: inset 0 0 0 10px #fff;
      }
    }

    .beat {
      margin-top: 20px;
      width: 500px;
      box-sizing: border-box;
      background: white;
      padding: 10px;

      .question {
        font-style: italic;
        font-weight: bold;
      }

      .answer {
        width: 100%;
        box-sizing: border-box;
      }
    }

    .card {
      margin-top: 20px;
      width: 500px;
      box-sizing: border-box;
      background: white;

      p {
        padding: 0;
        margin: 0;
      }

      .card-body {
        max-height: 40vh;
        overflow: auto;
        white-space: pre-wrap;
        padding: 10px;
        margin: 5px;
        box-sizing: border-box;
        font-size: 0.8em;
      }

      .card-header,
      .card-footer {
        width: 100%;
        padding: 10px;
        white-space: pre-wrap;
        box-sizing: border-box;

        h5,
        code {
          padding: 0;
          margin: 1em 0;
        }
      }

      .card-question {
        font-style: italic;
        font-weight: bold;
      }

      .subcard {
        padding: 10px;
        margin-bottom: 5px;
        border: 1px solid #0004;
        border-radius: 4px;
      }

      .perfect-result .subcard {
        color: rgb(0, 199, 123);
      }

      progress {
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}

.pretty-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.pretty-scrollbar::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #0000;
  border: 1px solid #0004;
}

.pretty-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-clip: content-box;
  background-color: #01010109;
  border: 1px solid #0002;
}

.App.pretty-scrollbar::-webkit-scrollbar-track {
  background-color: #0002;
}
.App.pretty-scrollbar::-webkit-scrollbar-thumb {
  background-color: white;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0.5)
  );
}
